# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Build & Dist
build/
dist/
*.spec
Output/

# Local Data (IMPORTANT: Keep these private)
*.json
!path_config.json
!knowledge_base.json